.body{
    font-size: 16px
}

.disabled{
    cursor: not-allowed;
}

.table-custom-options-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    min-height: 72px;
}

.super-select-container{
    width: 190px;
}

.search-container{
    width: 250px;
}

.super-select-orderby-container{
    display: flex;
    align-items: flex-start
}

.searchField{
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    height: 36px;
    outline: 0;
    display: flex;
}
.searchInput {
    font-size: 16px;
    border: none;
    width: 80%;
    padding: 5px
}

.searchIcon { 
    padding: 6px
}

.super-select-box{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.contentLoaderStyle{
    width: 100%
}